<form method="post" action="{{ path('commercant_delete', {'id': commercant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ commercant.id) }}">
    <button class="btn">Delete</button>
</form>