{% extends 'base.html.twig' %}

{% block title %}Edit Commercant{% endblock %}

{% block body %}
    <h1>Edit Commercant</h1>

    {{ include('commercant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('commercant_index') }}">back to list</a>

    {{ include('commercant/_delete_form.html.twig') }}
{% endblock %}