{% extends 'base.html.twig' %}

{% block title %}Commercant index{% endblock %}

{% block body %}
    <h1>Commercant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>IsActive</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commercant in commercants %}
            <tr>
                <td>{{ commercant.id }}</td>
                <td>{{ commercant.username }}</td>
                <td>{{ commercant.password }}</td>
                <td>{{ commercant.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ commercant.roles|join(' - ') }}</td>
                <td>
                    <a href="{{ path('commercant_show', {'id': commercant.id}) }}">show</a>
                    <a href="{{ path('commercant_edit', {'id': commercant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('commercant_new') }}">Create new</a>
{% endblock %}