{% extends 'base.html.twig' %}

{% block title %}New Commercant{% endblock %}

{% block body %}
    <h1>Create new Commercant</h1>

    {{ include('commercant/_form.html.twig') }}

    <a href="{{ path('commercant_index') }}">back to list</a>
{% endblock %}