{% extends 'base.html.twig' %}

{% block title %}Commercant{% endblock %}

{% block body %}
    <h1>Commercant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commercant.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ commercant.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ commercant.password }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ commercant.isActive ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ commercant.roles }}</td>
            </tr>

        </tbody>
    </table>

    <a href="{{ path('commercant_index') }}">back to list</a>

    <a href="{{ path('commercant_edit', {'id': commercant.id}) }}">edit</a>

    {{ include('commercant/_delete_form.html.twig') }}
{% endblock %}