{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    <h1>Client index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Created_at</th>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>IsActive</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.nom }}</td>
                <td>{{ client.prenom }}</td>
                <td>{{ client.created_at ? client.created_at|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ client.id }}</td>
                <td>{{ client.username }}</td>
                <td>{{ client.password }}</td>
                <td>{{ client.isActive ? 'Yes' : 'No' }}</td>
                <td>{{ client.roles }}</td>
                <td>
                    <a href="{{ path('client_show', {'id': client.id}) }}">show</a>
                    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('client_new') }}">Create new</a>
{% endblock %}