{% extends 'base.html.twig' %}

{% block title %}Reduction index{% endblock %}

{% block body %}
    <h1>Reduction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Cout</th>
                <th>Stock</th>
                <th>Created_at</th>
                <th>Deleted_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reduction in reductions %}
            <tr>
                <td>{{ reduction.id }}</td>
                <td>{{ reduction.libelle }}</td>
                <td>{{ reduction.cout }}</td>
                <td>{{ reduction.stock }}</td>
                <td>{{ reduction.created_at ? reduction.created_at|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reduction.deleted_at ? reduction.deleted_at|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('reduction_show', {'id': reduction.id}) }}">show</a>
                    <a href="{{ path('reduction_edit', {'id': reduction.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reduction_new') }}">Create new</a>
{% endblock %}