{% extends 'base.html.twig' %}

{% block title %}Reduction{% endblock %}

{% block body %}
    <h1>Reduction</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reduction.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ reduction.libelle }}</td>
            </tr>
            <tr>
                <th>Cout</th>
                <td>{{ reduction.cout }}</td>
            </tr>
            
            <tr>
                <th>Stock</th>
                <td>{{ reduction.stock }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ reduction.created_at ? reduction.created_at|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Deleted_at</th>
                <td>{{ reduction.deleted_at ? reduction.deleted_at|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Produits</th>
                <td>
                    <ul>
                        {% for p in reduction.getProduits() %}
                            <li>{{ p.nom }}</li>
                        {% endfor %}
                    </ul> 
                </td>
            </tr>            
        </tbody>
    </table>

    <a href="{{ path('reduction_index') }}">back to list</a>

    <a href="{{ path('reduction_edit', {'id': reduction.id}) }}">edit</a>

    {{ include('reduction/_delete_form.html.twig') }}
{% endblock %}