{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ article.nom }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ article.note }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ article.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ article.prix }}</td>
            </tr>
            <tr>
                <th>Commercant</th>
                <td>{{ article.getCommercant().username }}</td>
            </tr>

            <tr>
           
                <th>Réduction</th>
                 <td>
                    <ul>
                        {% for r in  article.reductions  %}
                            <li>{{ r.libelle}}</li>
                        {% endfor %}
                    </ul> 
                </td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>
   
    {{ include('article/_delete_form.html.twig') }}
{% endblock %}